@import "tailwindcss";

:root {
  --background: #F5F0E8;
--foreground: #1A1A2E;
--violet: #322277;
--cream: #FBF6EB;
--gray: #9CA3AF;
--gray-light: #D1D0D8;
--coral: #FB7185;

--lavender: #F3F0FF;
--lavender-deep: #EEE9FF;
--steel-blue: #6497b1;
--baby-blue: #b3cde0;
--blue-gray: #E4E4E7;


    

}


 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --color-violet: var(--violet);
  --color-cream: var(--cream);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-coral: var(--coral);
  --color-nebula-background: var(--background);
  --color-lavender: var(--lavender);
  --color-lavender-deep: var(--lavender-deep);
  --color-steel-blue: var(--steel-blue);
  --color-baby-blue: var(--baby-blue);
  --color-blue-gray: var(--blue-gray);

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), Arial, sans-serif;
}

.filter-violet {
  filter: invert(13%) sepia(1200%) saturate(1200%) hue-rotate(228deg) brightness(80%);
}
